body
{
    min-height: min-content;
}
label {
display: inline-block;
cursor: pointer;
padding: 10px;
margin-top: 10px;
border-radius: 10px;
font-size: 18px;
font-weight: bolder;
}
.hide-content {
display: none;
}
a :hover 
{
background-color: none;
text-decoration-line: none;
text-decoration: none;
}
a /*format for Logo link */
{
    text-decoration: none;
}

@media screen and (max-width: 1400) {
.card {
    width: 100%;
}
}
ul, li {
list-style: none;
}
.card {
background-image: url(background-image.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}
.nav-link:hover
{
    color: red;
}
#footer {
    background-color: #333;
    /* color: white; */
    text-align: center;
    width: 100%;
    /* padding: 1em; */
    position:fixed;
    bottom: 0;
  }

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}
input:invalid {
    border: 2px dashed red;
}

/*<!--CSS for active tab -->*/
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *::before, *::after {
      box-sizing: border-box;
  }
.nav__item {
    padding: 1rem;
   }   
.nav__link {
    display: block;
    padding: .3125rem 1.5rem;
    text-transform: uppercase;
  }
  
  .nav__link.active  {
   border: 1px solid #ff4b4c;
    color: #ff4b4c;
  } */

  /* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
