body
{
    min-height: min-content;
}
label {
display: inline-block;
cursor: pointer;
padding: 10px;
margin-top: 10px;
border-radius: 10px;
font-size: 18px;
font-weight: bolder;
}
.hide-content {
display: none;
}
a :hover 
{
background-color: none;
text-decoration-line: none;
text-decoration: none;
}
a /*format for Logo link */
{
    text-decoration: none;
}

@media screen and (max-width: 1400) {
.card {
    width: 100%;
}
}
ul, li {
list-style: none;
}
.card {
background-image: url(background-image.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}
.nav-link:hover
{
    color: red;
}
#footer {
    background-color: #333;
    /* color: white; */
    text-align: center;
    width: 100%;
    /* padding: 1em; */
    position:fixed;
    bottom: 0;
  }